<%- include('../partials/header'); -%>
<%- include('../partials/nav'); %>
<hr style="margin-top: 0">
<div>
<div class="row container" style="margin: 20px auto; ">

    <div class = "col-md-9">
        <div class="showImg">
            <img class="figure-img img-fluid rounded" src="<%= foundPhoto.image %>">
            <div class="text-on-show-img">

                <p class="textShadow" style="color: white; margin-left: 10px"><%=foundPhoto.name%><p>
            </div>

        </div>
    </div>
    <div class = "col-md-3">
        <div class="caption-full">
            <div style="display: flex">
                <a href="/users/<%=foundPhoto.author.id%>" style="margin-right: 20px;" >
                    <img class="rounded-circle zoom-avatar" src="<%=foundPhoto.author.avatar%>" width="55" height="55">
                </a>
                <div>
                    <strong><a href="/users/<%=foundPhoto.author.id%>" style="padding-top: 5px; font-size: 20px; color: darkslategray"><%= foundPhoto.author.username %></a></strong>
                    <p style="margin-top: 5px; font-size: 10px">
                        <%= moment(foundPhoto.createdAt).fromNow() %>
                    </p>
                </div>

            </div>

            <p style="margin-top: 10px"><%= foundPhoto.description %></p>
            <div style="display: flex">
                <% if(currentUser && foundPhoto.author.id.equals(currentUser._id)){ %>
                    <a  class="btn btn-sm btn-outline-secondary mr-2" href="/photoboards/<%= foundPhoto._id %>/edit">Edit</a>
                    <form action="/photoboards/<%= foundPhoto._id %>?_method=DELETE" method="POST" class="delete-form">
                        <button class="btn btn-sm btn-outline-secondary">Delete</button>
                    </form>
                <% } %>
            </div>
        </div>
        <hr>
        <div class="well">
            <% foundPhoto.comments.forEach(function(comment){ %>
            <div class="row">
                <div class="col-md-12">
                    <div style="display: flex">
                        <a href="/users/<%=foundPhoto.author.id%>">
                            <img class="rounded-circle zoom-avatar" src="<%=comment.author.avatar%>" width="30" height="30">
                        </a>
                        <strong><a href="/users/<%=comment.author.id%>"><%= comment.author.username %></a></strong>
                    </div>

                    <span class="pull-right"><%= moment(comment.createdAt).fromNow() %></span>
                    <div>
                        <div class="showComment">
                            <p><%= comment.text %></p>
                        </div>

                        <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                        <div class="pull-right">
                            <a href="/photoboards/<%=foundPhoto._id%>/comments/<%=comment._id%>/edit" class="btn btn-sm btn-outline-secondary">EDIT</a>
                            <form class="delete-form" action="/photoboards/<%=foundPhoto._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                                <button class="btn btn-sm btn-outline-secondary">DELETE</button>
                            </form>
                        </div>
                        <% } %>
                        <hr>
                    </div>
                </div>
            </div>
            <% }) %>

        </div>
        <% if(currentUser) {%>
        <div class="addComment" >
                <div style="display: flex; width: 100%">
                    <a href="/users/<%=currentUser._id%>" style="margin-right: 15px">
                        <img class="rounded-circle zoom-avatar" src="<%=currentUser.avatar%>" width="40" height="40">
                    </a>
                    <form class=" s-search" action="/photoboards/<%=foundPhoto._id%>" method="POST" >
                        <div class="s-search-in" role="combobox">
                            <input required name="search" class="s-search-input" type="search" placeholder="Write a comment" aria-label="comment" value autocomplete="off" spellcheck="true">
                        </div>

                        <button  class="btn btn-link btn-sm border-0 s-search-button" type="submit"><img src="/icon/publish.svg" height="16" width="16" class="s-search-icon" ></button>
                    </form>
                </div>
        </div>
        <% } else { %>
        <div style="margin: 20px auto ">
            <p>
                <a class="btn btn-outline-secondary btn-large" href="/signin">Login to Comment !</a>
            </p>
        </div>
        <% }%>
    </div>
</div>
</div>


<%- include('../partials/footer'); -%>