<%- include('../partials/header'); -%>

<div class="container">
    <div class="row">

        <div style="width: 40%; margin: 25px auto;" class = "text-center">
            <div style="display: flex; margin: 40px auto" >
                <img class="avatar-img rounded-circle" src="<%= editedUser.avatar%>" alt="" width="100" height="100">
                <h3 style="align-content: center ">Change <%= editedUser.username%> 's Profile</h3>
            </div>

            <form action="/users/<%= editedUser._id%>?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="avatar">Change profile photo</label>
                    <input type="file" id="avatar" name="avatar" class ="form-control">
                </div>
                <div class="form-group">
                    <input value="<%=editedUser.username%>" class="form-control" type="text" name="username" placeholder= "Username" required>
                </div>
                <div class="form-group">
                    <input value="<%=editedUser.email%>" class="form-control" type="email" name="email" placeholder= "Email" >
                </div>
                <div class="form-group" style="margin-top: 30px;">

                    <textarea placeholder="Introduce yourself" class="form-control" style="width: 100%" name="bio" id="bio" cols="40" rows="5" ><%=editedUser.bio%></textarea>
                </div>

                <div class="form-group" style="margin-top: 40px;">
                    <button class=" form-control btn btn-lg btn-secondary btn-block">Update!</button>
                </div>
            </form>
            <a href="/photoboards">Go Back</a>
        </div>
    </div>
</div>
<%- include('../partials/footer'); -%>